<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Uebungsblatt3_Aufgabe3/src/Client/MainClient.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Client.MainClient"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Uebungsblatt3_Aufgabe3"/>
</launchConfiguration>
